<div id="brew-form">
  <mat-form-field>
    <input matInput placeholder="Brew Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Recipe" [(ngModel)]="data.recipeID">
      <mat-option *ngFor="let r of recipes" [value]="r.id">{{r.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="brewDate" [(ngModel)]="data.brewDate" placeholder="Brew date">
    <mat-datepicker-toggle matSuffix [for]="brewDate"></mat-datepicker-toggle>
    <mat-datepicker #brewDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="bottleDate" [(ngModel)]="data.bottleDate" placeholder="Bottle date">
    <mat-datepicker-toggle matSuffix [for]="bottleDate"></mat-datepicker-toggle>
    <mat-datepicker #bottleDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="chillDate" [(ngModel)]="data.chillDate" placeholder="Chill date">
    <mat-datepicker-toggle matSuffix [for]="chillDate"></mat-datepicker-toggle>
    <mat-datepicker #chillDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="data.notes" placeholder="Brew notes"></textarea>
  </mat-form-field>
  <div class="controls">
    <div class="control-row">
      <button mat-flat-button color="primary" (click)="save()">Save</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
    <div class="control-row" *ngIf="!isNew">
      <button mat-button color="warn" (click)="delete()">Delete</button>
    </div>
  </div>
</div>