doctype html
html
  head
    title Planning Poker
    base(href='/')
  body
    app-root
    script(type='text/javascript' src='runtime.js')
    script(type='text/javascript' src='polyfills.js')
    //script(type='text/javascript' src='styles.js')
    script(type='text/javascript' src='vendor.js')
    script(type='text/javascript' src='main.js')