
<div id="register-dialog">
  <h3>Thanks for signing in!</h3>
  <p>Let's complete your registration:</p>
  <mat-form-field>
    <input matInput placeholder="User Name" [(ngModel)]="userName">
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="close()">Register</button>
  </div>
</div>
