<div id="recipe-form">
  <mat-form-field>
    <input matInput placeholder="Recipe Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput [(ngModel)]="data.description" placeholder="Recipe description"></textarea>
  </mat-form-field>
  <div class="controls">
    <div class="control-row">
      <button mat-flat-button color="primary" (click)="save()">Save</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
    <div class="control-row" *ngIf="!isNew">
      <button mat-button color="warn" (click)="delete()">Delete</button>
    </div>
  </div>
</div>